<div class="content content-fixed pd-20">
    <div class="container-fluid pd-x-0 pd-lg-x-10 pd-xl-x-0">
        <div class="clearfix">
            <div class="float-left">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb df-breadcrumbs mg-b-10">
                        <li class="breadcrumb-item"><a href="/flows">DASHBOARD</a></li>
                        <li class="breadcrumb-item active">RESET PASSWORD</li>
                    </ol>
                    <h3 style="display: inline-block;" class="mg-b-0 tx-spacing--1">Reset Password</h3>
                </nav>
            </div>
        </div>
        <br />
        <br />
        <div class="card card-outline-secondary">
            <div class="card-body">
                <form class="form" role="form" autocomplete="off" action="/users/reset-password" method="POST">
                    <input type="text" class="form-control" style="display: none;" id="id" name="id"
                        value="<%= user.id %>">
                        <input type="hidden" name="_csrf" value="<%= csrftoken %>">
                    <div class="form-group">
                        <label for="inputName">Password</label>
                        
                        <input type="password" class="form-control" id="password" value="" name="password" placeholder="Password"
                            pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}" value="" required
                            oninvalid="this.setCustomValidity('Password Must Be Contain Least One Lower Case English Letter, Least One Upper Case English Letter, One Digit, One Special Character And Minimum Six Characters In Length')"
                            oninput="setCustomValidity('')">
                    </div>
                    <div class="form-group">
                        <label for="inputEmail3">Re - Enter Password</label>
                        <input type="password" class="form-control" id="reenter_password"
                            placeholder="Re - Enter Password" name="reenter_password"
                            pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}" value="" required
                            oninvalid="this.setCustomValidity('Password Must Be Contain Least One Lower Case English Letter, Least One Upper Case English Letter, One Digit, One Special Character And Minimum Six Characters In Length')"
                            oninput="setCustomValidity('')">
                    </div>
                    <div class="form-group">
                        <button class="btn btn-brand-02 mg-sm-l-10 mg-t-10 mg-sm-t-0" id="reset">Reset
                            Password</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="/javascripts/reset_password.js" type="text/javascript"></script>