<head>
    <script src="/javascripts/password_validation.js" type="text/javascript">
    </script>
</head>
<style>
    .select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
        position: unset;

    }

    .select2-container--default .select2-selection--multiple .select2-selection__choice {
        color: #7f7f7f;
    }

    .select2-container--default.select2-container--focus .select2-selection--multiple {
        border: solid 1px #969393;
    }
</style>
<div class="content content-fixed pd-20">
    <div class="container-fluid pd-x-0 pd-lg-x-10 pd-xl-x-0">
        <ol class="breadcrumb df-breadcrumbs mg-b-10">
            <li class="breadcrumb-item"><a href="/flows">DASHBOARD</a></li>
            <li class="breadcrumb-item"><a href="/users">USERS</a></li>
            <li class="breadcrumb-item active" aria-current="page"><% if(link == 'create') { %> CREATE <% } else { %>
                EDIT <% } %>
            </li>
        </ol>
        <!-- <h3 style="display: inline-block;" class="mg-b-0 tx-spacing--1">User</h3> -->
        <br />
        <br />
        <div class="card">
            <div class="card-body">
                <div class="col-md-12">
                    <% if(link == 'create') { %>
                    <form action="/users" method="POST" enctype="multipart/form-data" id="user_form"
                        onsubmit="return validation();">
                        <% }  %>
                        <% if(link == 'edit') { %>
                        <form action="/users/<%= user_data.id %>" method="POST" enctype="multipart/form-data"
                            id="user_form">
                            <% }  %>
                            <input type="hidden" name="_csrf" value="<%= csrftoken %>">
                            <input type="hidden" name="created_by" value="<%= created_by %>">
                            <div class="form-row">
                                <div class="form-group col-md-3">
                                    <% if(user_data.id) { %>
                                    <input type="text" class="form-control" style="display: none;" id="id" name="id"
                                        value="<%= user_data.id %>">
                                    <% } else { %>
                                    <input type="text" class="form-control" style="display: none;">
                                    <% } %>
                                    <label for="name">Name <span class="red">*</span></label>
                                    <input type="text" class="form-control alphaspace-only" id="name" name="name"
                                        pattern="^[A-Za-z ]+$" <% if(user_data) { %>
                                        value="<%= user_data.name %>" <% } else { %> value="" <% } %> required
                                        oninvalid="this.setCustomValidity('Name Must Be Alphabetic And Contain Only Spaces In Between')"
                                        oninput="setCustomValidity('')"
                                        maxlength="100">
                                    <span class="error"></span>
                                </div>

                                <div class="form-group col-md-3">
                                    <label for="mobile">Mobile Number <span class="red">*</span></label>
                                    <input type="text" class="form-control numeric-only" id="mobile" name="mobile_no"
                                        pattern="[0-9]{10}" <% if(user_data) { %> value="<%= user_data.mobile_no %>"
                                        <% } else { %> value="" <% } %> required
                                        oninvalid="this.setCustomValidity('Mobile Number Must Be Numeric And require 10  digit')"
                                        oninput="setCustomValidity('')"
                                        size="10" maxlength="10" minlength="10">
                                </div>
                                <div class="form-group col-md-3">
                                    <label for="mobile">Profile Picture</label>
                                    <div>

                                        <div class="input-group">
                                            <div class="custom-file">
                                                <input type="file" class="custom-file-input" id="images"
                                                    aria-describedby="inputGroupFileAddon01" name='profile_picture'>
                                                <label class="custom-file-label" for="images">Choose
                                                    file</label>
                                            </div>
                                            <div class="col-md-4 text-center">
                                                <% if(link == 'create' || user_data.profile_picture == null) { %>
                                                <div id="upload-image" accept=".png, .jpg, .jpeg, .gif"
                                                    data-accept="['.png','.jpg','.jpeg','.gif','.PNG','.JPG','.JPEG']">
                                                </div>
                                                <% } else { %>
                                                <input type="text" name='profile_picture_user' id="profile_picture_user"
                                                    style="display: none;" <% if(user_data.image_full_path) { %>
                                                    value="<%= user_data.image_full_path %>" <% } else {} %> </div>
                                                <div id="upload-image-user" accept=".png, .jpg, .jpeg, .gif"
                                                    data-accept="['.png','.jpg','.jpeg','.gif','.PNG','.JPG','.JPEG']">
                                                </div>
                                                <% } %>
                                            </div>
                                        </div>
                                        <input type="text" name='picture' id="picture" style="display: none;"
                                            <% if(user_data.profile_picture) { %>
                                            value="<%= user_data.profile_picture %>" <% } else {} %>>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-2">
                                    <label>Status</label>
                                    <select class="custom-select" id="status" name="status">
                                        <% if(link == 'create') { %>
                                        <% status.forEach(function(emun) { %>
                                        <option value="<%= emun %>" <% if(emun == 'active') { %> selected
                                            <% } else {} %>>
                                            <%= capitalizeFirstLetter(emun) %></option>
                                        <% }) %>
                                        <% } %>
                                        <% if(link == 'edit') { %>
                                        <option value="" selected disabled>Select</option>
                                        <% status.forEach(function(emun) { %>
                                        <option value="<%= emun %>" <% if(user_data.status == emun) { %> selected
                                            <% } else {} %>>
                                            <%= capitalizeFirstLetter(emun) %></option>
                                        <% }) %>
                                        <% } %>
                                    </select>
                                </div>
                                <% if(user.role.name == 'Admin'){ %>
                                    <div class="form-group col-md-3">
                                        <label for="role">Role <span class="red">*</span></label>
                                        <select class="custom-select" id="role" name="role" required
                                            oninvalid="this.setCustomValidity('Role Must Be Select')"
                                            oninput="setCustomValidity('')">
                                            <option value="" <% if(user_data == '') { %> selected <% } %> disabled>Role
                                            </option>
                                            <% roles.forEach(function(role) { %>
                                            <option value="<%= role._id %>"
                                                <% if(JSON.stringify(user_data.role) == JSON.stringify(role._id)) { %>
                                                selected <% } else {} %>><%= role.name %></option>
                                            <% }) %>
                                        </select>
                                    </div>
                                <% } %>
                                <% if(link == 'create') { %>
                                <div class="form-group col-md-3">
                                    <label for="email">Email <span class="red">*</span></label>
                                    <input type="email" class="form-control <% if(error) { %> is-invalid <% } %>"
                                        id="email" value="" name="email" required>
                                    <% if (error) { %>
                                    <em id="error"><span class="text-danger">Email already exist.</span></em>
                                    <% } %>
                                </div>
                                <div class="form-group col-md-2">
                                    <label for="password">Password <span class="red">*</span></label>
                                    <input type="password" class="form-control" id="password" value="" name="password"
                                        pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}" <% if(user_data) { %>
                                        value="<%= user_data.password %>" <% } else { %> value="" <% } %> required
                                        oninvalid="this.setCustomValidity('Password Must Be Contain Least One Lower Case English Letter, Least One Upper Case English Letter, One Digit, One Special Character And Minimum Six Characters In Length')"
                                        oninput="setCustomValidity('')">
                                </div>
                                <div class="form-group col-md-2">
                                    <label for="cpassword">Confirm Password <span class="red">*</span></label>
                                    <input type="password" class="form-control" id="cpassword" value=""
                                        pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}" name="confirm_password"
                                        <% if(user_data) { %> value="<%= user_data.confirm_password %>" <% } else { %>
                                        value="" <% } %> required
                                        oninvalid="this.setCustomValidity('Password Must Be Contain Least One Upper Case English Letter, Least One Lower Case English Letter, One Digit, One Special Character And Minimum Six Characters In Length')"
                                        oninput="setCustomValidity('')">
                                    <em id="cp"></em>
                                </div>
                                <% }  %>
                            </div>
                           
                            <button type="submit" class="btn btn-primary float-right">SAVE</button>
                            <button type="submit" class="btn btn-warning float-right ml-1 mr-1"
                                style="text-decoration: none !important;"><a href="/users"
                                    class="float-right anchor">CANCEL</a></button>
                        </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/javascripts/create_update_user.js" type="text/javascript">
</script>