<head>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript"
        src="https:////cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <link href="https:////cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet">

    <script src="/javascripts/toastr.js" type="text/javascript"></script>
    <script src="/assets/js/dashforge.js"></script>
    <link href="/stylesheets/list.css" rel="stylesheet">
    <input type="hidden" name="_csrf" value="<%= csrftoken %>" id="csrf">
</head>

<% if (success) { %>
<input type="text" class="toastr success" style="display: none;" value="<%= success %>">
<% } else  { %>
<% } %>
<div class="content content-fixed pd-20">
    <div class="container-fluid pd-x-0 pd-lg-x-10 pd-xl-x-0">
        <div class="clearfix">
            <div class="float-left">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb df-breadcrumbs mg-b-10">
                        <li class="breadcrumb-item"><a href="/flows">DASHBOARD</a></li>
                        <li class="breadcrumb-item active">USERS</li>
                    </ol>
                    <h3 style="display: inline-block;" class="mg-b-0 tx-spacing--1">Users</h3>
                </nav>
            </div>
            <div class="float-right">
                <% if(isPermisson.editUser === true) { %>
                <a class="btn btn-sm pd-x-15 btn-primary btn-uppercase mg-l-5 btn-z" href="/users/create"><i
                        data-feather="plus" class="wd-10 mg-r-5"></i>Add User</a></button>
                <% } else {} %>
            </div>
            <div class="float-right mr-5">
                <div class="float-left breadcrumb-icon-wrap mr-2">
                    <i class="fas fa-filter"></i>
                </div>
                <div class="float-left">
                    <select class="custom-select" id="filter_status">
                        <option value="" selected disabled>Status Filter</option>
                        <option value="all">ALL</option>
                        <% status.forEach(function(emun) { %>
                        <option value="<%= emun %>" <% if(filter_status === emun) { %> selected <% } else {} %>>
                            <%= capitalizeFirstLetter(emun) %>
                        </option>
                        <% }) %>
                    </select>
                </div>
            </div>
            <div class="float-right mr-5">
                <div class="float-left breadcrumb-icon-wrap mr-2">
                    <i class="fas fa-search"></i>
                </div>
                <div class="float-left mr-1">
                    <select class="custom-select" id="search_field">
                        <option value="all" selected>All</option>
                        <option value="name" <% if(search_field === 'name') { %> selected <% } %>>Name</option>
                        <option value="email" <% if(search_field === 'email') { %> selected <% } %>>Email</option>
                        <option value="mobile_no" <% if(search_field === 'mobile_no') { %> selected <% } %>>Mobile_No
                        </option>
                    </select>
                </div>
                <div class="float-left">
                    <input class="form-control my-0 py-1 red-border" type="text" placeholder="Search"
                        aria-label="Search" id="search_string"
                        value="<% if(search_string) { %><%= search_string %><% } else {} %>">
                </div>
            </div>
        </div>
        <div class="mt-3">
            <div class="card">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-striped mg-b-0">
                            <thead>
                                <tr>
                                    <th scope="col">ID</th>
                                    <th id="name" width="25%%"
                                        class="sorting <% if(sort_by == `name`) { %><%= sort_type %><% } else {} %>">
                                        Name <% if(sort_by=='name' && sort_type == 'asc') { %> <i
                                            class="fa fa-chevron-up"></i> <% } else { %> <i
                                            class="fa fa-chevron-down pointer"></i> <% } %></th>

                                    <th id="email" width="25%%"
                                        class="sorting <% if(sort_by == `email`) { %><%= sort_type %><% } else {} %>">
                                        Email <% if(sort_by=='email' && sort_type == 'asc') { %> <i
                                            class="fa fa-chevron-up"></i> <% } else { %> <i
                                            class="fa fa-chevron-down pointer"></i> <% } %></th>

                                    <th id="mobile"
                                        class="sorting <% if(sort_by == `mobile_no`) { %><%= sort_type %><% } else {} %>">
                                        Mobile Number <% if(sort_by=='mobile_no' && sort_type == 'asc') { %> <i
                                            class="fa fa-chevron-up"></i> <% } else { %> <i
                                            class="fa fa-chevron-down pointer"></i> <% } %></th>
                                    <th scope="col">Status</th>
                                    <th scope="col" class="text-center" style="width:15%">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% for(var i=0; i < userList.length; i++) { %>
                                <tr>
                                    <td style="display: none"><%= userList[i]._id %></td>
                                    <td><img class="rounded-circle" style="width:35px"
                                            <% if(userList[i].profile_picture) { %>
                                            src="/users/<%= userList[i]._id %>/image/<%= userList[i].profile_picture %>"
                                            <% } else { %> src="/avatar.jpg" <% } %>>
                                    </td>
                                    <td><% if((JSON.stringify(admin_id) != JSON.stringify(userList[i].role._id)) && (isAdmin == true)) { %>
                                        <a href="/user-flows/<%= userList[i]._id %>">
                                            <%= userList[i].name %>
                                        </a>
                                        <% } else { %>
                                        <%= userList[i].name %>
                                        <% } %>
                                    </td>
                                    <td><%= userList[i].email %></td>
                                    <td><%= userList[i].mobile_no %></td>
                                    <!-- <td><span class="change-status-btn-wrap text-capitalize">
                                            <span class="badge badge-primary <%= userList[i].status %>">
                                                <%= userList[i].status %>
                                            </span>
                                        </span>
                                    </td> -->
                                    <td>
                                        <div>
                                            <div>
                                                <span
                                                    class="change-status-btn-wrap change-job-status-btn-wrap text-capitalize"
                                                    data-job-id="<%= userList[i]._id %>">
                                                    <span
                                                        class="badge badge-primary <%= userList[i].status %>"><%= capitalizeFirstLetter(userList[i].status) %><i
                                                            class="fas fa-caret-down ml-1"></i></span>
                                                </span>
                                                <div class="float-left" style="position: absolute;">
                                                    <div class="cu-dropdown__menu cu-dropdown__menu_left job-change-status-dropdown"
                                                        data-id="<%= 'job--' + userList[i]._id + '-change-status'  %>"
                                                        style="display: none;">
                                                        <div class="user-list">
                                                            <div class="user-list__body ps">
                                                                <% status.forEach(function(emun) { %>
                                                                <div class="user-list-item change-job-status <%= emun %>"
                                                                    data-job-id="<%= userList[i]._id %>"
                                                                    data-job-status="<%= emun %>">
                                                                    <div class="user-list-item__name">
                                                                        <span
                                                                            class="<%= emun %> text-capitalize"><%= capitalizeFirstLetter(emun) %></span>
                                                                    </div>
                                                                </div>
                                                                <% }) %>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td style="text-align: center;">
                                        <% if(isPermisson.editUser === true) { %>
                                        <a href='/users/<%= userList[i]._id %>/edit'><span class="iconify info"
                                                data-icon="feather:edit-2"
                                                data-inline="false"></span></a><% } else {} %>
                                        <% if(isPermisson.deleteUser === true) { %><a class="red destroy"><span
                                                class="iconify" data-icon="feather-trash"
                                                data-inline="false"></span></a><% } else {} %>
                                    </td>
                                </tr>
                                <% } %>
                            </tbody>
                        </table>
                    </div><!-- table-responsive -->
                </div>
            </div>
        </div>
    </div>

    <div class="mt-3">
        <% if (pages > 0) { %>
        <ul class="pagination text-center">
            <% if (current == 1) { %>
            <li class="page-item disabled"><a class="page-link">First</a></li>
            <% } else { %>
            <li class="page-item"><a class="page-link"
                    href="/users?page=1<% if(sort_by) { %>&sort_by=<%= sort_by %><% } else { } %><% if(sort_type) { %>&sort_type=<%= sort_type %><% } else { } %><% if(filter_status) { %>?filter_status=<%= filter_status %><% } else { } %>">First</a>
            </li>
            <% } %>

            <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>

            <% if (i !== 1) { %>
            <li class="page-item disabled"><a class="page-link">...</a></li>
            <% } %>

            <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
            <% if (i == current) { %>

            <li class="page-item active"><a class="page-link"><%= i %></a></li>

            <% } else { %>
            <li class="page-item"><a class="page-link"
                    href="/users?page=<%= i %><% if(search_string && search_field) { %>&search_string=<%= search_string %>&search_field=<%= search_field %><% } else { } %><% if(sort_by) { %>&sort_by=<%= sort_by %><% } else { } %><% if(sort_type) { %>&sort_type=<%= sort_type %><% } else { } %><% if(filter_status) { %>&filter_status=<%= filter_status %><% } else { } %>"><%= i %>
                </a> </li> <% } %> <% if (i == Number(current) + 4 && i < pages) { %> <li class="page-item disabled"><a
                    class="page-link">...</a></li>
            <% } %>
            <% } %>
            <% if (current == pages) { %>
            <li class="page-item disabled"><a class="page-link">Last</a></li>
            <% } else { %>
            <li class="page-item"><a class="page-link"
                    href="/users?page=<%= pages %><% if(search_string && search_field) { %>&search_string=<%= search_string %>&search_field=<%= search_field %><% } else { } %><% if(sort_by) { %>&sort_by=<%= sort_by %><% } else { } %><% if(sort_type) { %>&sort_type=<%= sort_type %><% } else { } %><% if(filter_status) { %>?filter_status=<%= filter_status %><% } else { } %>">Last</a>
            </li>
            <% } %>
        </ul>
        <% } %>
    </div>
</div>
<script src="https://code.iconify.design/1/1.0.3/iconify.min.js" type="text/javascript"></script>
<script src="/javascripts/user_list.js" type="text/javascript"></script>