<!DOCTYPE html>
<html lang="en">

<div class="content content-fixed pd-20">
    <div class="container-fluid pd-x-0 pd-lg-x-10 pd-xl-x-0">
        <div class="d-sm-flex align-items-center justify-content-between">
            <div>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb df-breadcrumbs mg-b-10">
                        <li class="breadcrumb-item"><a href="/flows">DASHBOARD</a></li>
                        <li class="breadcrumb-item active">PROFILE</li>
                    </ol>
                </nav>
            </div>
        </div>
        <br />
        <div class="col-xl-10 offset-xl-1">
            <div class="row">
                <div class="col-lg-6">
                    <h5 class="mg-b-2 tx-spacing--1"><%= user.name %></h5>
                    <p class="tx-color-03 mg-b-25"><%= user.role.name %></p>
                    <div class="col-sm-6 col-md-5 col-lg mg-t-40">
                        <label
                            class="tx-sans tx-10 tx-semibold tx-uppercase tx-color-01 tx-spacing-1 mg-b-15">INFO</label>
                        <ul class="list-unstyled profile-info-list">
                            <li><i data-feather="globe"></i><%= user.email %></li>
                            <li><i data-feather="phone-call"></i><%= user.mobile_no %></li>
                        </ul>
                    </div><!-- col -->
                </div>
                <div class="col-lg-6">
                    <div class="page-profile">
                        <img <% if(user.profile_picture) { %>
                            src="/users/<%= user._id %>/image/<%= user.profile_picture %>" <% } else { %>
                            src="/avatar.jpg" <% } %> class="rounded-circle" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>