<head>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript"
        src="https:////cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <link href="https:////cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet">

    <script src="/javascripts/toastr.js" type="text/javascript"></script>
    <link href="/stylesheets/list.css" rel="stylesheet">
    <input type="hidden" name="_csrf" value="<%= csrftoken %>" id="csrf">
</head>
<% if (success) { %>
<input type="text" class="toastr success" style="display: none;" value="<%= success %>">
<% } else  { %>
<% } %>
<div class="content content-fixed pd-20">
    <div class="container-fluid pd-x-0 pd-lg-x-10 pd-xl-x-0">
        <div class="clearfix">
            <div class="float-left">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb df-breadcrumbs mg-b-10">
                        <li class="breadcrumb-item"><a href="/flows">DASHBOARD</a></li>
                        <li class="breadcrumb-item"><a href="/users">USERS</a></li>
                        <li class="breadcrumb-item active">FLOW INFO</li>
                    </ol>
                </nav>
            </div>
        </div>

        <div class="mt-3">
            <div class="card">
                <div class="card-body">
                    <div>
                        <% if(flowList.length > 0) { %>
                            <form action="/user-flows/flow-assign" method="POST" id="user_flow">
                                <input type="hidden" name="_csrf" value="<%= csrftoken %>">
                                <input type="hidden" name="user_id" value="<%= user_id %>" id="user_id">
                                <div class=" form-row">
                                    <div class="form-group col-md-4">
                                        <select class="select2-single" id="flow" name="flow" style="width: 100%;">
                                            
                                            <% flowList.forEach(function(flow) { %>
                                            <option value="<%= flow._id %>"><%= flow.title %></option>
                                            <% }) %>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-1 float-left">
                                        <button type="submit" class="float-left" id="add">ADD</button>
                                    </div>
                                </div>
                            </form>
                        <% } else { %>
                            <form action="/user-flows/flow-assign" method="POST" id="user_flow">
                                <input type="hidden" name="_csrf" value="<%= csrftoken %>">
                                <input type="hidden" name="user_id" value="<%= user_id %>" id="user_id">
                            </form>
                            <div class="no_points" style="margin-top: 20px;">
                                <p>NO FLOW CREATED</p>
                            </div>
                        <% } %>
                    </div>
                    <% if(flows != null ) { %>

                    <div class="table-responsive">
                        <table class="table table-striped mg-b-0">
                            <thead>
                                <tr>

                                    <th id="name" width="30%" class=""> Flow Title </th>
                                    <th id="email" width="20%" class="">
                                        Status</th>
                                    <th id="start" width="20%" class="">
                                        Start</th>
                                    <th id="end" width="20%" class="">
                                        End</th>
                                    <th id="end" width="10%" class="text-center">
                                        Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% for(var i=0; i < flows.length; i++) { %>
                                <tr>
                                    <td style="display: none"><%= flows[i].flow_id._id %></td>
                                    <td><%= flows[i].flow_id.title %></td>
                                    <td><%= capitalizeFirstLetter(flows[i].status) %></td>
                                    <td><% if(flows[i].start_time) { %>
                                        <%= createUpdateDate(moment(flows[i].start_time).toISOString()) %>
                                        <% } else { %>
                                        NOT STARTED <% } %>
                                    </td>
                                    <td><% if(flows[i].start_time && flows[i].end_time) { %>
                                        <%= createUpdateDate(moment(flows[i].end_time).toISOString()) %> <% 
                                    } else if(flows[i].start_time == null || flows[i].start_time == undefined) { %> NOT
                                        STARTED <% } else { %> PENDING <% } %>
                                    </td>
                                    <td class="text-center">
                                        <span class="red pointer destroy" data-flow-id="<%= flows[i]._id %>"
                                            data-toggle="tooltip" data-placement="top" title="Delete Flow">
                                            <span class="iconify" data-icon="emojione-v1:cross-mark"
                                                data-inline="false"></span>
                                        </span>
                                    </td>
                                </tr>
                                <% } %>
                            </tbody>
                        </table>
                    </div><!-- table-responsive -->
                    <% } else { %>
                    <div class="no_points">
                        <p>NO FLOW ASSIGNED</p>
                    </div>
                    <% } %>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.iconify.design/1/1.0.3/iconify.min.js" type="text/javascript"></script>
    <script src="/javascripts/user_flow.js" type="text/javascript"></script>