<div class="content content-fixed">
    <div class="container ht-100p tx-center">
        <div class="ht-100p d-flex flex-column align-items-center justify-content-center">
            <h1 class="tx-color-01 tx-24 tx-sm-32 tx-lg-36 mg-xl-b-5"><%= error.status %> Bad Request</h1>
            <h5 class="tx-16 tx-sm-18 tx-lg-20 tx-normal mg-b-20"><%= error.stack %></h5>
            <h5 class="tx-16 tx-sm-18 tx-lg-20 tx-normal mg-b-20">OOPPS... <%= message %>.</h5>
        </div>
    </div><!-- container -->
</div><!-- content -->