<!DOCTYPE html>
<html>

<body>
    <header>
        <%-partial('./layout/header.ejs')%>
        <%-partial('./layout/nav.ejs')%>
    </header>
    <section>
        <%-body -%>
    </section>
    <footer>
        <%-partial('./layout/footer.ejs')%>
    </footer>
</body>

</html>