<head>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript"
        src="https:////cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <link href="https:////cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet">

    <script src="/javascripts/toastr.js" type="text/javascript"></script>
    <script src="/assets/js/dashforge.js"></script>
    <link href="/stylesheets/list.css" rel="stylesheet">
    <input type="hidden" name="_csrf" value="<%= csrftoken %>" id="csrf">
</head>

<% if (success) { %>
<input type="text" class="toastr success" style="display: none;" value="<%= success %>">
<% } else  { %>
<% } %>
<div class="content content-fixed pd-20">
    <div class="container-fluid pd-x-0 pd-lg-x-10 pd-xl-x-0">
        <div class="clearfix">
            <div class="float-left">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb df-breadcrumbs mg-b-10">
                        <li class="breadcrumb-item"><a href="/flows">DASHBOARD</a></li>
                        <li class="breadcrumb-item active">FLOW</li>
                    </ol>
                    <!-- <h3 style="display: inline-block;" class="mg-b-0 tx-spacing--1">flow</h3> -->
                </nav>
            </div>
            <% if( isAdmin == true) { %>
            <div class="float-right">
                <a class="btn btn-sm pd-x-15 btn-primary btn-uppercase mg-l-5 btn-z" href="/flows/create"><i
                        data-feather="plus" class="wd-10 mg-r-5"></i>Add Flow</a></button>
            </div>
            <% } %>
            <div class="float-right mr-5">
                <div class="float-left breadcrumb-icon-wrap mr-2">
                    <i class="fas fa-filter"></i>
                </div>
                <% if( isAdmin == true) { %>
                <div class="float-left">
                    <select class="custom-select" id="filter_status">
                        <option value="" selected disabled>Status Filter</option>
                        <option value="all">ALL</option>
                        <% status.forEach(function(emun) { %>
                        <option value="<%= emun %>" <% if(filter_status === emun) { %> selected <% } else {} %>>
                            <%= capitalizeFirstLetter(emun) %>
                        </option>
                        <% }) %>
                    </select>
                </div>
                <% } %>
                <div class="float-left ml-2">
                    <select class="custom-select" id="Department_filter">
                        <option value="" selected disabled>Department Filter</option>
                        <option value="all">ALL</option>
                        <% departments.forEach(function(index) { %>
                        <option value="<%= index._id %>"
                            <% if(JSON.stringify(department_filter) === JSON.stringify(index._id)) { %> selected
                            <% } else {} %>>
                            <%= capitalizeFirstLetter(index.name) %>
                        </option>
                        <% }) %>
                    </select>
                </div>
            </div>
            <div class="float-right mr-5">
                <div class="float-left breadcrumb-icon-wrap mr-2">
                    <i class="fas fa-search"></i>
                </div>

                <div class="float-left">
                    <input class="form-control my-0 py-1 red-border" type="text" placeholder="Search"
                        aria-label="Search" id="search_string"
                        value="<% if(search_string) { %><%= search_string %><% } else {} %>">
                </div>
            </div>
        </div>
        <div class="mt-3">
            <div class="card">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-striped mg-b-0">
                            <thead>
                                <tr>
                                    <th scope="col">ID</th>
                                    <th id="title" style="width:40%"
                                        class="sorting <% if(sort_by == `title`) { %><%= sort_type %><% } else {} %>">
                                        Title <% if(sort_by=='title' && sort_type == 'asc') { %> <i
                                            class="fa fa-chevron-up"></i> <% } else { %> <i
                                            class="fa fa-chevron-down pointer"></i> <% } %></th>
                                    <th id="department" style="width:20%">Department </th>
                                    <% if( isAdmin == true) { %>
                                    <th scope="col" style="width:10%">Status</th>
                                    <th scope="col" class="text-center" style="width:15%">Points Action</th>
                                    <% } else {} %>
                                    <th scope="col" class="text-center" style="width:15%">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% var count = 1 %>
                                <% for(var i=0; i < list.length; i++) { %>
                                <tr>
                                    <td><%= list[i]._id %></td>
                                    <td><%= list[i].title %> <% if(isAdmin == true) { %> 
                                        <a href="/flows/<%= list[i]._id %>/points" data-toggle="tooltip" data-placement="top" title="Flow List"><i class="fa fa-link"
                                                aria-hidden="true"></i></a> <% } else {} %></td>
                                    <td><%= list[i].department.name %></td>
                                    <% if( isAdmin == true) { %>
                                    <td>
                                        <div>
                                            <div>
                                                <span
                                                    class="change-status-btn-wrap change-job-status-btn-wrap text-capitalize"
                                                    data-job-id="<%= list[i]._id %>">
                                                    <span
                                                        class="badge badge-primary <%= list[i].status %>"><%= capitalizeFirstLetter(list[i].status) %><i
                                                            class="fas fa-caret-down ml-1"></i></span>
                                                </span>
                                                <div class="float-left" style="position: absolute;">
                                                    <div class="cu-dropdown__menu cu-dropdown__menu_left job-change-status-dropdown"
                                                        data-id="<%= 'job--' + list[i]._id + '-change-status'  %>"
                                                        style="display: none;">
                                                        <div class="user-list">
                                                            <div class="user-list__body ps">
                                                                <% status.forEach(function(emun) { %>
                                                                <div class="user-list-item change-job-status <%= emun %>"
                                                                    data-job-id="<%= list[i]._id %>"
                                                                    data-job-status="<%= emun %>">
                                                                    <div class="user-list-item__name">
                                                                        <span
                                                                            class="<%= emun %> text-capitalize"><%= capitalizeFirstLetter(emun) %></span>
                                                                    </div>
                                                                </div>
                                                                <% }) %>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <a href='/flows/<%= list[i]._id %>/sorting' data-toggle="tooltip"
                                            data-placement="top" title="Points Sorting">
                                            <span class="iconify" data-icon="feather:list" data-inline="false"></span>
                                        </a>
                                        <span class="add_points blue pointer" data-flow-id="<%= list[i]._id %>"
                                            data-toggle="tooltip" data-placement="top" title="Add Points">
                                            <span class="iconify add_icon" data-icon="ic:baseline-playlist-add"
                                                data-inline="false"></span>
                                        </span>
                                    </td>
                                    <% } else {} %>
                                    <td class="text-center">
                                        <% if( isAdmin !== true) { %>
                                        <a href='/flows/<%= list[i]._id %>/points'>
                                            <span class="iconify" data-icon="feather:eye" data-inline="false"></span>
                                        </a>
                                        <% } else {} %>
                                        <% if( isAdmin == true) { %>
                                        <a href='/flows/<%= list[i]._id %>/edit' data-toggle="tooltip"
                                            data-placement="top" title="Edit Flow"><span class="iconify info"
                                                data-icon="feather:edit-2" data-inline="false"></span></a>
                                        <a class="red destroy" data-toggle="tooltip" data-placement="top"
                                            title="Remove Flow"><span class="iconify" data-icon="feather-trash"
                                                data-inline="false"></span></a>
                                        <% } else {} %>
                                    </td>
                                </tr>
                                <% count++ %>
                                <% } %>
                            </tbody>
                        </table>
                    </div><!-- table-responsive -->
                </div>
            </div>
        </div>
    </div>

    <div class="mt-3">
        <% if (pages > 0) { %>
        <ul class="pagination text-center">
            <% if (current == 1) { %>
            <li class="page-item disabled"><a class="page-link">First</a></li>
            <% } else { %>
            <li class="page-item"><a class="page-link"
                    href="/flows?page=1<% if(sort_by) { %>&sort_by=<%= sort_by %><% } else { } %><% if(sort_type) { %>&sort_type=<%= sort_type %><% } else { } %><% if(filter_status) { %>?filter_status=<%= filter_status %><% } else { } %>">First</a>
            </li>
            <% } %>

            <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>

            <% if (i !== 1) { %>
            <li class="page-item disabled"><a class="page-link">...</a></li>
            <% } %>

            <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
            <% if (i == current) { %>

            <li class="page-item active"><a class="page-link"><%= i %></a></li>

            <% } else { %>
            <li class="page-item"><a class="page-link"
                    href="/flows?page=<%= i %><% if(search_string) { %>&search_string=<%= search_string %><% } else { } %><% if(sort_by) { %>&sort_by=<%= sort_by %><% } else { } %><% if(sort_type) { %>&sort_type=<%= sort_type %><% } else { } %><% if(filter_status) { %>&filter_status=<%= filter_status %><% } else { } %>"><%= i %>
                </a> </li> <% } %> <% if (i == Number(current) + 4 && i < pages) { %> <li class="page-item disabled"><a
                    class="page-link">...</a></li>
            <% } %>
            <% } %>
            <% if (current == pages) { %>
            <li class="page-item disabled"><a class="page-link">Last</a></li>
            <% } else { %>
            <li class="page-item"><a class="page-link"
                    href="/flows?page=<%= pages %><% if(search_string) { %>&search_string=<%= search_string %><% } else { } %><% if(sort_by) { %>&sort_by=<%= sort_by %><% } else { } %><% if(sort_type) { %>&sort_type=<%= sort_type %><% } else { } %><% if(filter_status) { %>?filter_status=<%= filter_status %><% } else { } %>">Last</a>
            </li>
            <% } %>
        </ul>
        <% } %>
    </div>
</div>
<script src="https://code.iconify.design/1/1.0.3/iconify.min.js" type="text/javascript"></script>
<script src="/javascripts/flow_list.js" type="text/javascript"></script>