<head>
    <link href="/stylesheets/flow_points_list.css" rel="stylesheet">
</head>
<div class="content content-fixed pd-20">
    <div class="container-fluid pd-x-0 pd-lg-x-10 pd-xl-x-0">
        <ol class="breadcrumb df-breadcrumbs mg-b-10">
            <li class="breadcrumb-item"><a href="/flows">DASHBOARD</a></li>
            <li class="breadcrumb-item"><a href="/flows">FLOW</a></li>
            <li class="breadcrumb-item active" aria-current="page"><%= flow.title %></li>
        </ol>
        <!-- <h3 style="display: inline-block;" class="mg-b-0 tx-spacing--1">User</h3> -->
        <br />
        <div class="clearfix"></div>

        <body id="Scrollspy" data-spy="scroll" data-target="#myScrollspy" data-offset="160">
            <div class="col-md-12 main_scroll">
                <div class="row">
                    <% if(points.length == 0) { %>
                    <div class="no_points">
                        <p>NO POINTS FOUND</p>
                    </div>
                    <% } else { %>

                    <div class="col-md-3" id="left">
                        <div class="sticky-top" id="myScrollspy">
                            <ul class="nav flex-md-column flex-row justify-content-between" id="sidenav">
                                <% for(let i = 0; i< points.length; i++) { %>
                                <li class="nav-item parent" data-level="1">
                                    <% if(points[i] !== undefined) { %>
                                        <a href="#a<%= points[i]._id %>" class="nav-link line1"><%=  points[i].version.split('.')[0] %>.
                                            <%= points[i].title %></a>
                                        <% if(points[i].children.length > 0) { %>
                                        <ul class="nav flex-md-column level2">
                                            <% for(let j = 0; j < points[i].children.length; j++ ) { %>
                                                <% if(points[i].children[j] !== undefined) { %>
                                                    <li class="nav-item child" style="padding: 0;" data-level="2">
                                                        <a href="#a<%= points[i].children[j]._id %>"
                                                            class="nav-link line2"><%= points[i].version.split('.')[0] %>.<%= points[i].children[j].version.split('.')[1] %>
                                                            <%= points[i].children[j].title %></a>
                                                        <% if(points[i].children[j].children.length > 0) { %>
                                                        <ul class="nav flex-md-column level3">
                                                            <% for(let k = 0; k < points[i].children[j].children.length; k++ ) { %>
                                                                <% if(points[i].children[j].children[k] !== undefined) { %>
                                                                    <li class="nav-item child" style="padding: 0;">
                                                                        <a href="#a<%= points[i].children[j].children[k]._id %>"
                                                                            class="nav-link line3"><%= points[i].version.split('.')[0] %>.<%= points[i].children[j].version.split('.')[1] %>.<%= points[i].children[j].children[k].version.split('.')[2] %>
                                                                            <%= points[i].children[j].children[k].title %>
                                                                        </a>
                                                                    </li>
                                                                <% } %>
                                                            <% } %>
                                                        </ul>
                                                        <% } %>
                                                    </li>
                                                <% } %>    
                                            <% } %>
                                        </ul>
                                        <% } %>
                                    <% } %>
                                </li>
                                <% } %>
                            </ul>
                        </div>
                    </div>
                    <% } %>
                    <div class="col-sm-9">
                        <form>
                            <input type="hidden" name="flow_id" id="flow_id" value="<%= flow._id %>">
                            <% for(let i = 0; i< points.length; i++) { %>
                                <% if(points[i] !== undefined) { %>
                                    <div class="main_content">
                                        <div id="a<%= points[i]._id %>">
                                            <% if(isAdmin !== true) { %>
                                            <input type="checkbox" id="<%= points[i]._id %>" <% if(points[i].checked) { %>
                                                checked="checked" <% } else {} %>>
                                            <% } else {}%>
                                            <label class='title' for="<%= points[i]._id %>"><%=  points[i].version.split('.')[0] %>. <%= points[i].title %>
                                            </label>
                                            <div class="text-content">
                                                <%- points[i].content %>
                                            </div>
                                            <% if(points[i].hints) { %>
                                            <div class="hints">
                                                <span class="iconify" data-icon="mdi:lightbulb-on-outline"
                                                    data-inline="false"></span>
                                                <%= points[i].hints %>
                                            </div>
                                            <% } %>
                                            <div class="pl-6 child1">
                                                <% if(points[i].children.length > 0) { %>
                                                    <% for(let j = 0; j < points[i].children.length; j++ ) { %>
                                                        <% if(points[i].children[j] !== undefined) { %>
                                                            <div id="a<%= points[i].children[j]._id %>"></div>
                                                            <h3 class='title'>
                                                                <%= points[i].version.split('.')[0] %>.<%= points[i].children[j].version.split('.')[1] %>
                                                                <%= points[i].children[j].title %></h3>
                                                            <div class="text-content">
                                                                <%- points[i].children[j].content %>
                                                            </div>
                                                            <% if(points[i].children[j].hints) { %>
                                                            <div class="hints">
                                                                <span class="iconify" data-icon="mdi:lightbulb-on-outline"
                                                                    data-inline="false"></span>
                                                                <%= points[i].children[j].hints %>
                                                            </div>
                                                            <% } %>
                                                            <div class="child2">
                                                                <% if(points[i].children[j].children.length > 0) { %>
                                                                    <% for(let k = 0; k < points[i].children[j].children.length; k++ ){ %>
                                                                        <% if(points[i].children[j].children[k] !== undefined) { %>    
                                                                            <div id="a<%= points[i].children[j].children[k]._id %>"></div>
                                                                            <h5 class='title'>
                                                                                <%= points[i].version.split('.')[0] %>.<%= points[i].children[j].version.split('.')[1] %>.<%= points[i].children[j].children[k].version.split('.')[2] %>
                                                                                <%= points[i].children[j].children[k].title %></h5>
                                                                            <div class="text-content">
                                                                                <%- points[i].children[j].children[k].content %>
                                                                            </div>
                                                                            <% if(points[i].children[j].children[k].hints) { %>
                                                                                <div class="hints">
                                                                                    <span class="iconify" data-icon="mdi:lightbulb-on-outline"
                                                                                        data-inline="false"></span>
                                                                                    <%= points[i].children[j].children[k].hints %>
                                                                                </div>
                                                                            <% } %>
                                                                        <% } %>
                                                                    <% } %>
                                                                <% } %>
                                                            </div>
                                                        <% } %>    
                                                    <% } %>
                                                <% } %>
                                            </div>
                                        </div>
                                    </div>
                                <% } %>    
                            <% } %>
                        </form>
                    </div>
                </div>
            </div>
        </body>
    </div>
</div>

</html>

<script src="https://code.iconify.design/1/1.0.3/iconify.min.js" type="text/javascript"></script>
<script src="/javascripts/flow_points_list.js" type="text/javascript"></script>