<head>
    <script src="/javascripts/password_validation.js" type="text/javascript">
    </script>
    <script type="text/javascript"
        src="https:////cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <link href="https:////cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet">

    <script src="/javascripts/toastr.js" type="text/javascript"></script>
    <link rel="stylesheet" href="/stylesheets/points_list.css">
</head>
<% if (success) { %>
<input type="text" class="toastr success" style="display: none;" value="<%= success %>">
<% } else  { %>
<% } %>
<div class="content content-fixed pd-20">
    <div class="container-fluid pd-x-0 pd-lg-x-10 pd-xl-x-0">
        <ol class="breadcrumb df-breadcrumbs mg-b-10">
            <li class="breadcrumb-item"><a href="/flows">DASHBOARD</a></li>
            <li class="breadcrumb-item"><a href="/flows">FLOW</a></li>
            <li class="breadcrumb-item active" aria-current="page">POINTS LIST
            </li>
        </ol>
        <!-- <h3 style="display: inline-block;" class="mg-b-0 tx-spacing--1">User</h3> -->
        <br />
        <br />
        <div class="card">
            <div class="card-body">
                <div class="col-md-12">
                    <form action="/flows/<%= data.id %>/points" method="POST" enctype="multipart/form-data"
                        id="points_form">
                        <input type="hidden" name="_csrf" value="<%= csrftoken %>">
                        <input type="hidden" name="created_by" value="<%= created_by %>">
                        <div class="form-row">
                            <div class="form-group col-md-3">
                                <% if(data.id) { %>
                                <input type="text" class="form-control" style="display: none;" id="id" name="id"
                                    value="<%= data.id %>">
                                <% } else { %>
                                <input type="text" class="form-control" style="display: none;">
                                <% } %>
                                <h3 for="title"><%= data.title %></h3>
                            </div>
                        </div>

                        <div class="dd" id="nestable">
                            <ol class="dd-list">
                                <% for(var i=0; i < points.length; i++) { %>
                                    <% if(points[i] !== undefined) { %>
                                        <li class="dd-item dd3-item" data-id="<%= points[i]._id %>">
                                            <div class="dd-handle dd3-handle"></div>
                                            <div class="dd3-content">
                                                <div class="dd3-text">
                                                    <%= points[i].title %>
                                                </div>
                                                <div style="float: right;">
                                                    <span style="display: none"
                                                        id="<%= points[i]._id %>"><%= points[i]._id %></span>
                                                    <a class="red destroy float-right"><span class="iconify"
                                                            data-icon="feather-trash" data-inline="false"></span></a>
                                                    <a href='/points/<%= points[i]._id %>/edit' class="float-right"><span
                                                            class="iconify info" data-icon="feather:edit-2"
                                                            data-inline="false"></span></a>
                                                </div>
                                            </div>

                                            <% if(points[i].children.length > 0) { %>
                                            <ol class="dd-list">
                                                <% for(var j=0; j < points[i].children.length; j++){ %>
                                                    <% if(points[i].children[j] !== undefined) { %>    
                                                        <li class="dd-item dd3-item" data-id="<%= points[i].children[j]._id %>">
                                                            <div class="dd-handle dd3-handle"></div>
                                                            <div class="dd3-content">
                                                                <div class="dd3-text">
                                                                    <%= points[i].children[j].title %>
                                                                </div>
                                                                <div style="float: right;">
                                                                    <span style="display: none"
                                                                        id="<%= points[i].children[j]._id %>"><%= points[i].children[j]._id %></span>
                                                                    <a class="red destroy float-right"><span class="iconify"
                                                                            data-icon="feather-trash" data-inline="false"></span></a>
                                                                    <a href='/points/<%= points[i].children[j]._id %>/edit'
                                                                        class="float-right"><span class="iconify info"
                                                                            data-icon="feather:edit-2" data-inline="false"></span></a>
                                                                </div>
                                                            </div>
                                                            <% if(points[i].children[j].children.length > 0) { %>
                                                            <ol class="dd-list">
                                                                <% for(let k = 0; k < points[i].children[j].children.length; k++ ){ %>
                                                                    <% if(points[i].children[j].children[k] !== undefined) { %>    
                                                                        <li class="dd-item dd3-item"
                                                                            data-id="<%= points[i].children[j].children[k]._id %>">
                                                                            <div class="dd-handle dd3-handle"></div>
                                                                            <div class="dd3-content">
                                                                                <div class="dd3-text">
                                                                                    <%= points[i].children[j].children[k].title %>
                                                                                </div>
                                                                                <div style="float: right;">
                                                                                    <span style="display: none"
                                                                                        id="<%= points[i].children[j].children[k]._id %>"><%= points[i].children[j].children[k]._id %></span>
                                                                                    <a class="red destroy float-right"><span class="iconify"
                                                                                            data-icon="feather-trash"
                                                                                            data-inline="false"></span></a>
                                                                                    <a href='/points/<%= points[i].children[j].children[k]._id %>/edit'
                                                                                        class="float-right"><span class="iconify info"
                                                                                            data-icon="feather:edit-2"
                                                                                            data-inline="false"></span></a>
                                                                                </div>
                                                                            </div>
                                                                        </li>
                                                                    <% } %>    
                                                                <% } %>
                                                            </ol>
                                                            <% } %>
                                                        </li>
                                                    <% } %>    
                                                <% } %>
                                            </ol>
                                            <% } else {} %>
                                        </li>
                                    <% } %>    
                                <% } %>
                            </ol>
                        </div>

                        <textarea id="nestable-output" name="points_sorting"
                            style="width: 50%; display: none;"></textarea>
                        <input type="hidden" name="points_sorting" id="points_sorting" value="">
                        <button type="submit" class="btn btn-primary float-right save">SAVE</button>
                        <button type="submit" class="btn btn-warning float-right ml-1 mr-1"
                            style="text-decoration: none !important;"><a href="/flows"
                                class="float-right anchor">CANCEL</a></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://code.iconify.design/1/1.0.3/iconify.min.js" type="text/javascript"></script>
<script src="/javascripts/sortable.js" type="text/javascript"></script>