<head>
    <script src="/javascripts/password_validation.js" type="text/javascript">
    </script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/stylesheets/points_list_details.css">
</head>

<div class="content content-fixed pd-20">
    <div class="container-fluid pd-x-0 pd-lg-x-10 pd-xl-x-0">
        <ol class="breadcrumb df-breadcrumbs mg-b-10">
            <li class="breadcrumb-item"><a href="/flows">DASHBOARD</a></li>
            <li class="breadcrumb-item"><a href="/flows">FLOW</a></li>
            <li class="breadcrumb-item active" aria-current="page">POINTS DETAIL LIST
            </li>
        </ol>
        <!-- <h3 style="display: inline-block;" class="mg-b-0 tx-spacing--1">User</h3> -->
        <br />
        <br />
        <div class="card">
            <div class="card-body">
                <div class="col-md-12">
                    <div class="container">
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <% if(data.id) { %>
                                <input type="text" class="form-control" style="display: none;" id="id" name="id"
                                    value="<%= data.id %>">
                                <% } else { %>
                                <input type="text" class="form-control" style="display: none;">
                                <% } %>

                                <h3 for="title"><i data-feather="menu"></i> <%= data.title %></h3>
                            </div>
                        </div>
                        <div class="cf nestable-lists">
                            <div class="dd" id="nestable">
                                <ol class="dd-list">
                                    <% for(var i=0; i < points.length; i++) { %>
                                    <li class="dd-item" data-id="<%= points[i]._id %>">
                                        <h5 class="dd-handle"><%= points[i].title %></h5>
                                        <p><%= points[i].content %></p>
                                        <% if(points[i].children.length > 0) { %>
                                        <ol class="dd-list">
                                            <span></span>
                                            <% for(var j=0; j < points[i].children.length; j++){ %>
                                            <li class="dd-item" data-id="<%= points[i].children[j]._id %>">
                                                <h5 class="dd-handle"><%= points[i].children[j].title %></h5>
                                                <p><%= points[i].children[j].content %></p>
                                            </li>
                                            <% } %>
                                        </ol>
                                        <% } else {} %>
                                        <% } %>
                                    </li>
                                </ol>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>