body#Scrollspy{
    font-family: 'CustomFont', Arial, sans-serif;
}
.main_content {
    background-color: white;
    margin-bottom: 30px;
    padding: 30px;
    border-radius: 10px;
}
.sidenav {
    position: fixed;
}

ul,
li {
    left: 0;
}

.nav-item.parent {
    color: #031a61;
}
.nav-item.child{
    color: #0168fb;
}

.line1,
.line2,
.line3 {
    padding: 0;
    font-size: 15px;
    padding-left: 5px;
    padding-bottom: 5px;
    font-weight: inherit;
    border-left: 2px solid #e3e3e3;
}

.line1 {
    font-weight: inherit;
  /* border-radius: 6px; */
  transition-property: border;
  transition-duration: .2s;
  transition-timing-function: linear;
}

.line2 {
    padding-left: 10px;
}

.line3{
    padding-left: 20px;
}

.line1.active,
.line1:hover, .line1:focus, .line1:focus-within {
    color: #797777;
    font-weight: 1000;
    transform: scaleY(79px);
    will-change: border;
    transition-property: border;
    transition-duration: 160ms;
    transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -webkit-transition: border 0.25s ease-in-out;
    -moz-transition: border 0.25s ease-in-out;
    -ms-transition: border 0.25s ease-in-out;
    -o-transition: border 0.25s ease-in-out;
    transition: border 0.25s ease-in-out,
}

.line2.active,
.line2:hover, .line2:focus, .line2:focus-within {
    color: #797777;
    font-weight: 600;
    transition: border 1s ease-in-out,
}

.line3.active,
.line3:hover, .line3:focus, .line3:focus-within {
    color: #797777;
    /* font-weight: 400; */
    transition: border 0.15s ease-in-out,
}

.line1.active , .line2.active, .line3.active {
    border-left: 2px solid #707070;
}

.child1 {
    padding-left: 15px;
}
.child2 {
    padding-left: 30px;
}
/* hide inactive nested list */
#myScrollspy .nav ul.nav {
    display: none;
}

/* show active nested list */
#myScrollspy .nav>.active>ul.nav {
    display: block;
}
.no_points{
    text-align: center;
    height: 100%;
    width: 100%;
    margin-top: 10%;
    font-size: 20px;
    font-weight: lighter;
    color: #8392a5
}
label {
    font-size: 24px;
}
/*Checkboxes styles*/
input[type="checkbox"] {
    display: none;
}
input[type="checkbox"]+label {
    color: #031a61;
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 20px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

h2.title {
    display: block;
    position: relative;
    margin-bottom: 20px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
h3.title, h5.title {
    margin-top: 15px
}

input[type="checkbox"]+label:last-child {
    margin-bottom: 0;
}

input[type="checkbox"]+label:before {
    content: '';
    display: block;
    width: 25px;
    height: 25px;
    border: 2px solid #0168fa;
    position: absolute;
    left: 0;
    top: 5px;
    opacity: .6;
    -webkit-transition: all .12s, border-color .08s;
    transition: all .12s, border-color .08s;
}

input[type="checkbox"]:checked+label:before {
    width: 10px;
    top: -5px;
    left: 5px;
    border-radius: 0;
    opacity: 1;
    border-top-color: transparent;
    border-left-color: transparent;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
.hints {
    margin: 5px 0px 5px 0px;
    color: #797777;
    font-size: large;
}
.iconify{
    position: relative;
    top: -3px
}
img {
    height: 200px;
    width: 100%;
}
.text-content > p {
    margin-bottom: 0;
}