.red {
    color: red !important;
}
.red :hover {
    color:#dc3545;
}
.projects-list-table > tbody > tr > td .task-change-status-dropdown {
    width: 125px;
    line-height: 1.5;
    top: 48px;
}
.projects-list-table > tbody > tr > td .task-change-status-dropdown .user-list{
    width: 125px;
}
.anchor{
    color: white;
}
.btn-primary :hover {
    color: white;
}
td .rounded-circle{
    height: 32px;
    width: 32px;
}
.no_points{
    text-align: center;
    height: 100%;
    width: 100%;
    margin-top: 10%;
    font-size: 20px;
    font-weight: lighter;
    color: #8392a5
}
video {
    height: 300px;
    width: 400px;
}
#add {
    cursor: pointer;
    color: #fff;
    background-color: #0168fa;
    border-color: #0168fa;
    height: 28px;
    border: none;
    border-radius: 4px;
}