body {
  background-color: #f9f9f9;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.red{
  color : red
}
.blue{
  color : blue
}
section{
  flex-grow: 1;
}
.card-body .btn :hover {
  color: aliceblue;
}
.padding-top-30 {
  padding-top: 30px;
}
.breadcrumb-icon-wrap {
  font-size: 18px;
  line-height: 38px;
  color: gray;
}
#croppie-demo {
  width: 350px;
}
#croppie-container {
  padding-top: 30px;
}
#croppie-view {
  background: #e1e1e1;
  width: 300px;
  padding: 30px;
  height: 300px;
  margin-top: 30px
}
.fr-counter{
  display: none;
}
.destroy{
  cursor: pointer;
}
.table-striped tbody tr td, .table-striped tbody tr th p {
  vertical-align: middle;
}
.projects-list-table > tbody > tr > td .task-change-status-dropdown .user-list{
  width: 125px;
}
.heading{
  color: #0168fa;
  cursor: pointer;
}
.change-status-btn-wrap {
  position: relative;
  padding-right: 10px;
  cursor: pointer;
}
.cu-dropdown__menu {
  margin: 10px 0;
  -webkit-box-shadow: 0 1px 16px 0 rgba(0,0,0,.1);
  box-shadow: 0 1px 16px 0 rgba(0,0,0,.1);
  background: #fff;
  border-radius: 6px;
  z-index: 1000;
  background-color: #fff;
  display: block;
  position: absolute;
  animation: .1s ease-in 0s 1 normal forwards running fadeIn;
  z-index: 100000;
  left: 5px;
  top: 0;
  width: 125px;
}
.user-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 125px;
  max-height: 400px;
}
.user-list__body{
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  max-height: 180px;
  overflow: auto !important;
}
.ps{
  overflow-anchor: none;
  touch-action: auto;
}
.user-list-item{
  transition: all .2s cubic-bezier(.785,.135,.15,.86) 0s;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  padding: 8px 15px;
  border-bottom: 1px solid #f4f4f4;
  cursor: pointer;
}
.user-list-item__name{
  -webkit-transition: .2s cubic-bezier(.785,.135,.15,.86);
  -o-transition: .2s cubic-bezier(.785,.135,.15,.86);
  transition: all .2s cubic-bezier(.785,.135,.15,.86) 0s;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  padding: 0;
  font-size: 14px;
  line-height: 1.15;
  color:#544d61;
  position: relative;    
}
.change-status-btn-wrap .published{
  background-color: #0168fa
}
.change-job-status .published{
  color: #0168fa;
}
.change-status-btn-wrap .pending{
  background-color: #f0ad4e;
}
.change-job-status .pending{
  color: #f0ad4e;
}
.change-status-btn-wrap .unpublished, .change-status-btn-wrap .blocked, .change-status-btn-wrap .inactive{
  background-color: #544d61
}
.change-job-status .unpublished, .change-job-status .blocked{
  color: #544d61;
}
.change-status-btn-wrap .rejected{
  background-color: #dc3545
}
.change-job-status .rejected{
  color: #dc3545;
}
.change-status-btn-wrap .scheduled{
  background-color: green
}
.change-job-status .scheduled{
  color: green
}
.change-status-btn-wrap .active{
  background-color: #0168fa
}
.change-job-status .active{
  color: #0168fa;
}
.gray{
  color: #797777;;
}
.notification {
  background-color: #a4ca35;
}
.pointer {
   cursor: pointer;
}
.article-wrap div{
  padding-bottom: 10px;
}
#froala-editor,#hindi-editor {
  font-family: "IBM Plex Sans", sans-serif;
}
.heading a {
  color : #001737
}
.sorting .fa-chevron-up, .sorting .fa-chevron-down{
  cursor: pointer;
}
.fa-link{
  rotate: 50%;
  transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  margin-left: 5px;
  cursor: pointer;
}
video {
  height: 500px;
  width: 100%;
}
.navbar-menu a.nav-link.active {
  color: #0168fa;
}
.iconify {
  font-size: large;
  margin-right: 10px;
}
.add_icon{
  font-size: 22px;
  color: #0168fa;
}
.add_icon:hover{
  color: #0148ae;
}
.center_text{
  color: #4a515b
}
#error_pg {
  flex : auto;
  justify-content: center;
  align-items: center;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: larger;
}