<head>
    <script type="text/javascript"
        src="https:////cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <link href="https:////cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet">

    <script src="/javascripts/password_validation.js" type="text/javascript">
    </script>
    
    <script src="/javascripts/toastr.js" type="text/javascript"></script>
</head>
<% if (success) { %>
<input type="text" class="toastr success" style="display: none;" value="<%= success %>">
<% } else  { %>
<% } %>
<link href="/stylesheets/list.css" rel="stylesheet">
<div class="content content-fixed pd-20">
    <div class="container-fluid pd-x-0 pd-lg-x-10 pd-xl-x-0">
        <ol class="breadcrumb df-breadcrumbs mg-b-10">
            <li class="breadcrumb-item"><a href="/flows">DASHBOARD</a></li>
            <li class="breadcrumb-item"><a href="/flows">FLOW</a></li>
            <li class="breadcrumb-item active" aria-current="page">POINT <% if(link == 'create') { %> CREATE
                <% } else { %>
                EDIT <% } %>
            </li>
        </ol>
        <!-- <h3 style="display: inline-block;" class="mg-b-0 tx-spacing--1">User</h3> -->
        <br />
        <br />

        <div class="card">
            <div class="card-body">
                <div class="col-md-12">
                    <% if(link == 'create') { %>
                    <form action="/points" method="POST" enctype="multipart/form-data" id="points_form"
                        onsubmit="return validation();">
                        <% }  %>
                        <% if(link == 'edit') { %>
                        <form action="/points/<%= data.id %>" method="POST" enctype="multipart/form-data"
                            id="points_form">
                            <% }  %>
                            <input type="hidden" name="_csrf" value="<%= csrftoken %>">
                            <input type="hidden" name="media_key" id="media_key" value="<%= media_key %>">
                            <input type="hidden" name="created_by" value="<%= created_by %>">
                            <div class="form-row">
                                <div class="form-group col-md-3">
                                    <% if(data.id) { %>
                                    <input type="text" class="form-control" style="display: none;" id="id" name="id"
                                        value="<%= data.id %>">
                                    <% } else { %>
                                    <input type="text" class="form-control" style="display: none;">
                                    <% } %>
                                    <label for="title">Title <span class="red">*</span></label>
                                    <input type="text" class="form-control" id="title" name="title"
                                        <% if(data.title) { %> value="<%= data.title %>" <% } else { %> value=""
                                        <% } %>>
                                    <span class="error"></span>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-12">
                                    <label for="content">Hints</label>
                                    <input type="text" class="form-control" id="hints" name="hints"
                                        <% if(data.hints) { %> value="<%= data.hints %>" <% } else { %> value=""
                                        <% } %>>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-12">
                                    <label for="content">Content <span class="red">*</span></label>
                                    <textarea id="content" name="content" class="form-control" maxlength="800"><% if(data.content) { %><%= data.content %>
                                        <% } else { %><% } %>
                                    </textarea>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-2">
                                    <label>Status</label>
                                    <select class="custom-select" id="status" name="status">
                                        <% if(link == 'create') { %>
                                        <% status.forEach(function(emun) { %>
                                        <option value="<%= emun %>" <% if(emun == 'active') { %> selected
                                            <% } else {} %>>
                                            <%= capitalizeFirstLetter(emun) %></option>
                                        <% }) %>
                                        <% } %>
                                        <% if(link == 'edit') { %>
                                        <option value="" selected disabled>Select</option>
                                        <% status.forEach(function(emun) { %>
                                        <option value="<%= emun %>" <% if(data.status == emun) { %> selected
                                            <% } else {} %>>
                                            <%= capitalizeFirstLetter(emun) %></option>
                                        <% }) %>
                                        <% } %>
                                    </select>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    <label>Flow</label>
                                    <select class="custom-select" id="flow" name="flow">
                                        <option value="" selected disabled>Select</option>
                                        <% flow.forEach(function(index) { %>
                                        <option value="<%= index._id %>"
                                            <% if(data.flow == index._id) { %> selected
                                            <% } else {} %>><%= index.title %></option>
                                        <% }) %>
                                    </select>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary float-right">SAVE</button>
                            <a href="/flows" class="float-right anchor">
                                <button type="button" class="btn btn-warning float-right ml-1 mr-1"
                                    style="text-decoration: none !important;"> CANCEL</button></a>
                        </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/javascripts/points.js" type="text/javascript"></script>