<head>
    <link href="/stylesheets/error.css" rel="stylesheet">
</head>
<div class="content content-fixed" id="error_pg">
    <div class="container ht-100p tx-center">
        <div class="ht-100p d-flex flex-column align-items-center justify-content-center">
            <div class="center_text">
                403  |  <%= message %>
            </div>
        </div>
    </div><!-- container -->
</div><!-- content -->