<div class="content content-fixed pd-20">
    <div class="container pd-x-0 pd-lg-x-10 pd-xl-x-0">
        <div class="media align-items-stretch justify-content-center ht-100p pos-relative">
            <div class="media-body align-items-center d-none d-lg-flex">
                <div class="mx-wd-600">
                    
                </div>
            </div><!-- media-body -->

            <div class="sign-wrapper mg-lg-l-50 mg-xl-l-60">
                <form action="/signin" method="POST">
                    <input type="hidden" name="_csrf" value="<%= csrftoken %>">
                    <div class="wd-100p">
                        <h3 class="tx-color-01 mg-b-5">Sign In</h3>
                        <p class="tx-color-03 tx-16 mg-b-40">Welcome back! Please signin to continue.</p>
                        <div class="form-group">
                            <label>Email address</label>
                            <input type="email" name="email" class="form-control" placeholder="yourname@yourmail.com"
                                <% if(user_data) { %> value="<%= user_data.email %>" <% } else { %> value="" <% } %>
                                required>
                        </div>
                        <div class="form-group">
                            <label>Password</label>
                            <input type="password" name="password" class="form-control"
                                placeholder="Enter your password" [pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.{6,})" ]
                                required>
                        </div>
                        <div>
                            <% if (user_data.error) { %>
                            <em id="error"><span class="text-danger"><%= user_data.error %></span></em>
                            <% } %>
                        </div>
                        <br>
                        <button type="submit" class="btn btn-brand-02 btn-block">Sign In</button>
                    </div>
                </form>
            </div><!-- sign-wrapper -->
        </div><!-- media -->
    </div><!-- container -->
</div><!-- content -->
</body>

</html>