<script type='text/javascript' src="/lib/jquery/jquery.min.js"></script>
<script type='text/javascript' src="/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
<script type='text/javascript' src="/lib/feather-icons/feather.min.js"></script>
<script type='text/javascript' src="/lib/perfect-scrollbar/perfect-scrollbar.min.js"></script>
<script type='text/javascript' src="/assets/js/dashforge.js"></script>
<script type='text/javascript' src="/javascripts/date-time.min.js"></script>
<script type='text/javascript' src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
<script type='text/javascript' src="/javascripts/jquery.nestable.js"></script>
<!-- <script type='text/javascript' src="/lib/tinymce/tinymce.min.js"></script> -->
<script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
<script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js'></script>
<script type='text/javascript' src="https://cdnjs.cloudflare.com/ajax/libs/croppie/2.6.4/croppie.min.js"></script>
<!-- <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/froala-editor@latest/js/froala_editor.pkgd.min.js"></script> -->
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/froala-editor@3.1.0/js/froala_editor.pkgd.min.js"></script>

<script src="/javascripts/index.js" type="text/javascript"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>