<header class="navbar navbar-header navbar-header-fixed">
    <a href="" id="mainMenuOpen" class="burger-menu"><i data-feather="menu"></i></a>
    <div class="navbar-brand">
        <a href="/flows" class="df-logo">Matrix<span>Flow</span></a>
    </div><!-- navbar-brand -->
    <div id="navbarMenu" class="navbar-menu-wrapper">
        <div class="navbar-menu-header">
            <a href="/flows" class="df-logo">Matrix<span>Flow</span></a>
            <a id="mainMenuClose" href=""><i data-feather="x"></i></a>
        </div><!-- navbar-menu-header -->
        <ul class="nav navbar-menu">
            <li class="nav-label pd-l-20 pd-lg-l-25 d-lg-none">Main Navigation</li>
            <li class="nav-item"><a href="/flows" class="nav-link <%= page_name == 'flows' ? 'active' : '' %>"><i
                        data-feather="box"></i> Flow</a></li>
            <% if(user.role.name == 'Admin') { %>
            <li class="nav-item"><a href="/departments"
                    class="nav-link <%= page_name == 'departments' ? 'active' : '' %>"><i data-feather="box"></i>
                    Departments</a></li>
            <li class="nav-item"><a href="/users" class="nav-link <%= page_name == 'users' ? 'active' : '' %>"><i
                        data-feather="box"></i> Users</a></li>
            <% } else {} %>
        </ul>
    </div><!-- navbar-menu-wrapper -->
    <div class="navbar-right">
        <div class="dropdown dropdown-profile">
            <a href="" class="dropdown-link" data-toggle="dropdown" data-display="static">
                <div class="avatar avatar-sm"><img <% if(user.profile_picture) { %>
                        src="/users/<%= user._id %>/image/<%= user.profile_picture %>" <% } else { %> src="/avatar.jpg"
                        <% } %> class="rounded-circle" alt="">
                </div>
            </a><!-- dropdown-link -->
            <div class="dropdown-menu dropdown-menu-right tx-13" id="profile">
                <div class="avatar avatar-lg mg-b-15"><img <% if(user.profile_picture) { %>
                        src="/users/<%= user._id %>/image/<%= user.profile_picture %>" <% } else { %> src="/avatar.jpg"
                        <% } %> class="rounded-circle" alt=""></div>
                <h6 class="tx-semibold mg-b-5"><%= user.name %></h6>
                <p class="mg-b-25 tx-12 tx-color-03"><%= user.role.name %></p>

                <a href="/users/<%= user._id %>/edit" class="dropdown-item"><i data-feather="edit-3"></i> Edit
                    Profile</a>
                <a href="/users/<%= user._id %>" class="dropdown-item"><i data-feather="user"></i>View Profile</a>
                <a href="/users/password" class="dropdown-item"><i data-feather="lock"></i>Reset Password</a>
                <a href="/logout" class="dropdown-item"><i data-feather="log-out"></i>Sign Out</a>
            </div><!-- dropdown-menu -->
        </div><!-- dropdown -->
    </div><!-- navbar-right -->
</header><!-- navbar -->
<script src="/lib/bootstrap/js/bootstrap.bundle.min.js"></script>