<header class="navbar navbar-header navbar-header-fixed">
    <a href="" id="sidebarMenuOpen" class="burger-menu"><i data-feather="arrow-left"></i></a>
    <div class="navbar-brand">
        <a href="/" class="df-logo">Matrix<span>Flow</span></a>
    </div><!-- navbar-brand -->
    <div id="navbarMenu" class="navbar-menu-wrapper">
        <div class="navbar-menu-header">
            <a href="/" class="df-logo">Matrix<span>Flow</span></a>
            <a id="mainMenuClose" href=""><i data-feather="x"></i></a>
        </div><!-- navbar-menu-header -->
        
    </div><!-- nav-wrapper -->
    <div class="navbar-right w-auto">
        <ul class="nav navbar-menu">
            <li class="nav-item"><a href="/signin" class="nav-link"><i data-feather="archive"></i>
                    Sign In</a></li>
        </ul>
    </div><!-- az-header-right -->
</header>
<script src="/lib/bootstrap/js/bootstrap.bundle.min.js"></script>