<div id="sidebarMenu" class="sidebar sidebar-fixed sidebar-components">
    <div class="sidebar-header">
        <a href="" id="mainMenuOpen"><i data-feather="menu"></i></a>
        <h5>Components</h5>
        <a href="" id="sidebarMenuClose"><i data-feather="x"></i></a>
    </div><!-- sidebar-header -->
    <div class="sidebar-body">
        <ul class="sidebar-nav">
            <li class="nav-label mg-b-15">Browse Components</li>
            <li class="nav-item"><a href="javascript:void(0)" class="nav-link active"><i data-feather="layout"></i>
                    Introduction</a></li>
            <li class="nav-item"><a href="javascript:void(0)" class="nav-link"><i data-feather="grid"></i> Grid
                    System</a>
            </li>
            <li class="nav-item show">
                <a href="" class="nav-link with-sub"><i data-feather="layers"></i> UI Elements</a>
                <nav class="nav">
                    <a href="javascript:void(0)">Accordion</a>
                    <a href="javascript:void(0)">Alerts</a>
                    <a href="javascript:void(0)">Avatar</a>
                    <a href="javascript:void(0)">Badge</a>
                    <a href="javascript:void(0)">Breadcrumbs</a>
                    <a href="javascript:void(0)">Buttons</a>
                    <a href="javascript:void(0)">Button Groups</a>
                    <a href="javascript:void(0)">Cards</a>
                    <a href="javascript:void(0)">Carousel</a>
                    <a href="javascript:void(0)">Collapse</a>
                    <a href="javascript:void(0)">Dropdown</a>
                    <a href="javascript:void(0)">Icons</a>
                    <a href="javascript:void(0)">Images</a>
                    <a href="javascript:void(0)">List Group</a>
                    <a href="javascript:void(0)">Marker</a>
                    <a href="javascript:void(0)">Media Object</a>
                    <a href="javascript:void(0)">Modal</a>
                    <a href="javascript:void(0)">Navs</a>
                    <a href="javascript:void(0)">Navbar</a>
                    <a href="javascript:void(0)">Off-Canvas</a>
                    <a href="javascript:void(0)">Pagination</a>
                    <a href="javascript:void(0)">Placeholder</a>
                    <a href="javascript:void(0)">Popovers</a>
                    <a href="javascript:void(0)">Progress</a>
                    <a href="javascript:void(0)">Steps</a>
                    <a href="javascript:void(0)">Scrollbar</a>
                    <a href="javascript:void(0)">Scrollspy</a>
                    <a href="javascript:void(0)">Spinners</a>
                    <a href="javascript:void(0)">Tab</a>
                    <a href="javascript:void(0)">Toast </a>
                    <a href="javascript:void(0)">Tooltips</a>
                    <a href="javascript:void(0)">Table Basic</a>
                    <a href="javascript:void(0)">Table Advanced</a>
                </nav>
            </li>
            <li class="nav-item show">
                <a href="" class="nav-link with-sub"><i data-feather="package"></i> Utilities</a>
                <nav class="nav">
                    <a href="javascript:void(0)">Animation</a>
                    <a href="javascript:void(0)">Background</a>
                    <a href="javascript:void(0)">Border</a>
                    <a href="javascript:void(0)">Display</a>
                    <a href="javascript:void(0)">Divider</a>
                    <a href="javascript:void(0)">Flex</a>
                    <a href="javascript:void(0)">Height</a>
                    <a href="javascript:void(0)">Margin</a>
                    <a href="javascript:void(0)">Padding</a>
                    <a href="javascript:void(0)">Position</a>
                    <a href="javascript:void(0)">Typography</a>
                    <a href="javascript:void(0)">Width</a>
                    <a href="javascript:void(0)">Extras</a>
                </nav>
            </li>
            <li class="nav-item show">
                <a href="" class="nav-link with-sub"><i data-feather="inbox"></i> Forms</a>
                <nav class="nav">
                    <a href="javascript:void(0)">Form Elements</a>
                    <a href="javascript:void(0)">Input Group</a>
                    <a href="javascript:void(0)">Input Tags</a>
                    <a href="javascript:void(0)">Input Masks</a>
                    <a href="javascript:void(0)">Form Layouts</a>
                    <a href="javascript:void(0)">Form Validation</a>
                    <a href="javascript:void(0)">Form Wizard</a>
                    <a href="javascript:void(0)">Text Editor</a>
                    <a href="javascript:void(0)">Range Slider</a>
                    <a href="javascript:void(0)">Date Pickers</a>
                    <a href="javascript:void(0)">Select2</a>
                    <a href="javascript:void(0)">Search</a>
                </nav>
            </li>
            <li class="nav-item show">
                <a href="" class="nav-link with-sub"><i data-feather="pie-chart"></i> Charts</a>
                <nav class="nav">
                    <a href="javascript:void(0)">Flot</a>
                    <a href="javascript:void(0)">ChartJS</a>
                    <a href="javascript:void(0)">Peity</a>
                    <a href="javascript:void(0)">Sparkline</a>
                    <a href="javascript:void(0)">Morris</a>
                </nav>
            </li>
            <li class="nav-item show">
                <a href="" class="nav-link with-sub"><i data-feather="map-pin"></i> Maps</a>
                <nav class="nav">
                    <a href="javascript:void(0)">Google Maps</a>
                    <a href="javascript:void(0)">Leaflet Maps</a>
                    <a href="javascript:void(0)">Vector Maps</a>
                </nav>
            </li>
        </ul>
    </div><!-- sidebar-body -->
</div><!-- sidebar -->